################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/etl.lib/obj/Debug
/src/etl.perf.test/obj/Debug
/src/etl.test/obj/Debug
/src/etl/obj/Debug
