################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/etl.lib/obj/Debug
/src/etl.perf.test/obj/Debug
/src/etl.test/obj/Debug
/src/etl/obj/Debug
/data/output/xslx_output_test.20190519_204108_985.xlsx
/src/etl/etl.csproj.user
*.suo
/src/etl/bin/Debug/*.pdb
/src/etl/bin/Debug/*.exe
/src/etl/bin/Debug/*.config
/src/etl/bin/Debug/etl.lib.pdb
/src/etl/bin/Debug/etl.lib.dll
